.btn {
  cursor: pointer;
  background: unset;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: var(--color-primary);
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  font-weight: 700;
  transition: 0.3s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional,
.btn--contact {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--institutional,
.btn--quote {
  margin: 0 auto;
  display: block;
}

@media screen and( min-width: 1280px) {
  .btn--institutional,
  .btn--quote {
    margin: unset;
    display: inline;
  }
}

.btn--institutional:hover,
.btn--contact:hover {
  color: var(--color-copy);
  background: unset;
}

.btn--contact:hover {
  color: #fff;
}

.btn--quote {
  color: var(--color-copy);
  border-color: var(--color-copy);
}
